__pycache__/
*.pyc
winnow/api/winnow-api.zip
winnow/models/*.onnx
imagenette_exp/flag_check/
imagenette_exp/full_audit/*.jpg
imagenette_exp/imagenette2-160.tgz
imagenette_exp/imagenette2-160/
imagenette_exp/combined/
